/* navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 8px;
     padding-bottom: 10px; 

}

/* home section */
#home{
    height: 970px;
     padding: 6px 70px; 
}
#home::before{
    height: 980px;
}

#home p{
     font-size: 30px; 
}




/* services section */
#services{
    flex-direction: column;
}
#services .box{
    padding: 8px;
    margin: 2px 10px;
    margin-bottom: 20px;
}

#services .box img{
    width: 250px;
    height: 250px;


}
/* clients section */
#clients{
    overflow: hidden;
}




/* utility classes  */
.h-primary{
    font-size: 35px;
}



.btn{
    font-size: 16px;
    padding: 4px 8px;
}

#db{
    font-size: 16px;
    padding: 5px 10px;
}



/* contact section */

#contact-box form{
     width: 80%; 
}